<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{%block header%}{%endblock%}</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='my.css')}}">
        <script src="/static/jquery.min.js"> </script>
        <script type="text/javascript" src="{{url_for('static',filename='my.js')}}"></script>

        {{moment.include_jquery(local_js='/static/jquery.min.js')}}
        {{moment.include_moment(local_js='/static/moment-with-locales.js')}}
        {{moment.locale('zh-cn')}}

    </head>
    <body>

        {%block menu%}
        {%endblock%}

        {% with messages=get_flashed_messages()%}
            {% if messages %}
                {%for message in messages%}
                <h3 id="flash">{{message}}</h3>
                {%endfor%}
            {%endif%}
        {%endwith%}
        {%block body%}
        {%endblock%}
    </body>
</html>
